<!DOCTYPE HTML>
<!--
	Spatial by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Movie Intersector</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="Allows a user to search for the movies that are common between two actors." />
		<meta name="author" content="Ansh Ratnam" />
		<!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="../static/css/skel.css" />
		<link rel="stylesheet" href="../static/css/style.css" />
		<link rel="stylesheet" href="../static/css/style-xlarge.css" />
	</head>
	<body class="landing">

		<!-- Top Bar Section -->
			<header id="header" class="alt">
				<h1><strong><a href="/">Movie Intersector</a></strong> by Ansh Ratnam</h1>
				<nav id="nav">
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="#search">Search</a></li>
						{% if not current_user.is_authenticated %}
						  <li><a href="/login-page">Sign In</a></li>
							<li><a href="/register-page">Register</a></li>
						{% else %}
							<li><a href="/logout">Logout</a></li>
						{% endif %}
					</ul>
				</nav>
			</header>

		<!-- Home Section -->
			<section id="banner">
				{% if current_user.is_authenticated %}
					<h2>Welcome {{ current_user.user_name }}!</h2>
				{% else %}
					<h2>Welcome!</h2>
				{% endif %}
				<p>Find the intersecting movies between two actors.</p>
				<ul class="actions">
					<li><a href="#search" class="button special big">Let's do this</a></li>
				</ul>
			</section>

			<!-- Search Section -->
				<section id="search" class="wrapper style1">
					<!-- Intersecting Movies for two actors -->
					<div class="container 75%">
						<div class="row 200%">
							<h3>Type in two actors.</h3>
							<form id="actor-form" method="post" action="#">
								<div class="row uniform 50%">
									<div class="6u 12u$(xsmall)">
										<input type="text" name="first-actor" id="first-actor" value="" placeholder="First Actor" />
									</div>
									<div class="6u$ 12u$(xsmall)">
										<input type="text" name="second-actor" id="second-actor" value="" placeholder="Second Actor" />
									</div>
									<div class="8u$ 12u$(xsmall)">
										<ul class="actions">
											<li><input id="find-movies" type="submit" value="Find Movies" class="special" /></li>
										</ul>
									</div>
								</div>
							</form>
						</div>
					</div>
					<!-- Intersecting Actors for two movies -->
					<div class="container 75%">
						<div class="row 200%">
							<h3>Type in two movies.</h3>
							<form id="movie-form" method="post" action="#">
								<div class="row uniform 50%">
									<div class="6u 12u$(xsmall)">
										<input type="text" name="first-movie" id="first-movie" value="" placeholder="First Movie" />
									</div>
									<div class="6u$ 12u$(xsmall)">
										<input type="text" name="second-movie" id="second-movie" value="" placeholder="Second Movie" />
									</div>
									<div class="8u$ 12u$(xsmall)">
										<ul class="actions">
											<li><input id="find-actors" type="submit" value="Find Actors" class="special" /></li>
										</ul>
									</div>
								</div>
							</form>
						</div>
					</div>
					<br>
					<div class='container 25%'>
						<div class='row 200%'>
							<table id='results-table' border="none"></table>
						</div>
					</div>
				</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<ul class="icons">
						<li><a href="https://www.facebook.com/ansh.ratnam" class="icon fa-facebook"></a></li>
						<li><a href="https://twitter.com/RatnamAnsh" class="icon fa-twitter"></a></li>
						<li><a href="#" class="icon fa-instagram"></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; Ansh Ratnam</li>
						<li>Design: <a href="http://templated.co">TEMPLATED</a></li>
						<li>Images: <a href="http://unsplash.com">Unsplash</a></li>
					</ul>
					<ul class="copyright">
						<li>
							<a href="http://www.themoviedb.org/"><img style="max-width: 50px; height: auto;" src="../static/images/tmdb_logo.png">
						</li>
						<li>This product uses the TMDb API but is not endorsed or certified by TMDb.</li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="../static/js/jquery.min.js"></script>
			<script src="../static/js/skel.min.js"></script>
			<script src="../static/js/skel-layers.min.js"></script>
			<script src="../static/js/init.js"></script>
			<script src="../static/js/script.js"></script>

	</body>
</html>